@mixin button-variant($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;

	&:focus,
	&.focus {
		color: $color;
		background-color: darken($background, 10%);
		border-color: darken($border, 25%);
	}
	&:hover {
		color: $color;
		background-color: darken($background, 10%);
		border-color: darken($border, 12%);
	}
	&:active,
	&.active {
		color: $color;
		background-color: darken($background, 10%);
		border-color: darken($border, 12%);

		&:hover,
		&:focus,
		&.focus {
			color: $color;
			background-color: darken($background, 17%);
			border-color: darken($border, 25%);
		}
	}
}

@mixin button-border-variant($color, $color-hover, $background, $background-hover, $border, $border-hover) {
	color: $color;
	background-color: $background;
	border-color: $border;

	&:focus,
	&.focus {
		color: $color-hover;
		background-color: $background-hover;
		border-color: $border-hover;
	}
	&:hover {
		color: $color-hover;
		background-color: $background-hover;
		border-color: $border-hover;
	}
	&:active,
	&.active {
		color: $color-hover;
		background-color: $background-hover;
		border-color: $border-hover;

		&:hover,
		&:focus,
		&.focus {
			color: $color-hover;
			background-color: $background-hover;
			border-color: $border-hover;
		}
	}
}